.body{
    font-family: 'lato', 'san-serif';
    margin: 0;
    padding: 0;
}

.nav{
    padding: 20px 50px;
}

.navtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

.search{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: gray;
    cursor: pointer;
}

.searchinput{
    border-color: transparent;
    border: none;
}

.searchinput::placeholder{
    padding: 0;
    color: black;
    font-size: medium;
    font-style: italic;
}

.limitedoffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
    color: gray;
}

.navbottom{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: orange;
}

.menuitem{
    margin-right: 50px;
    cursor: pointer;
    font-weight: 49;
    color: gray;
    text-transform: uppercase;
}

.slider{
    background: url("https://plus.unsplash.com/premium_photo-1723867219819-c3c85d398efd?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2slMjB3YWxsfGVufDB8fDB8fHww");

}
.sliderwrapper{
    display:flex;
    width: 200vw;
}

.slideritem{
    width: 100vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slidertitle{
    text-transform: uppercase;
    color: gray;
    font-weight: 900;
    top: 10%;
    right: 10%;
    position: absolute;
    z-index: 1;
}

.sliderprice{
    border-radius: 1px solid black;
    position: absolute;
    font-weight: 300;
    top: 10%;
    left: 10%;
    z-index: 1;
    color: white;
}

.buybutton{
    font-weight: 300;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
    font-size: 30px;
    border: 1px solid white ;
    z-index: 1;
}

.buybutton:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.sliderbg{
    width: 500px;
    border-radius: 50%;
    height: 500px;
    position: absolute;
}

.sliderimg{
    z-index: 1;
}

.slideritem:nth-child(1) .sliderbg{
    background-color: blue;
}

.slideritem:nth-child(2) .sliderbg{
    background-color:purple;
}


.slideritem:nth-child(1) .sliderprice{
    background-color: blue;
}

.slideritem:nth-child(2) .sliderprice{
    background-color: purple;
}

.features{
    position: absolute;
    margin-right: 20;
    justify-content: center;
    align-items: center;
    display: flex;
}

