body{
    font-family: 'lato' , sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: orange;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seach{
    align-items: center;
    display: flex;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.searchInput{
    border: none;
    border-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
    font-size: large;
}

.limitedoffer{
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid black;
}

