body{
    font-family: 'lato' , sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    padding: 20px 50px;
    background-color: orange;

}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seach{
    align-items: center;
    display: flex;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.searchInput{
    border: none;
    border-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
    font-size: large;
}

.limitedoffer{
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid black;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: white;
    font-weight: 49;
}



.sliderwrapper{
    display: flex;
    width: 500vw;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slidertitle{
    position: absolute;
    top: 10%;
    right: 0%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    z-index: 1;
}

.sliderprice{
    position: absolute;
    top: 10%;
    left: 5%;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton{
    position: absolute;
    bottom: 10%;
    right: 5%;
    font-weight: 300;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 1px solid gray;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    color: black;
    background-color: white;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}


.slider{
    background-color: white;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: yellow;
}

.sliderItem:nth-child(2) .sliderBg{
    background-color: violet;
}

.sliderItem:nth-child(3) .sliderBg{
    background-color: lightgreen;
}

.sliderItem:nth-child(4) .sliderBg{
    background-color: red;
}

.sliderImg{
    z-index: 1;
}